nav {
    color:rgb(227, 25, 110);
    font-family:Arial, Helvetica, sans-serif;
}
h1, h2 {
    color:rgb(255, 0, 195);
    font-family:Arial, Helvetica, sans-serif;
}

p {
    color:rgb(255, 112, 179);
}

li {
    color:pink;
}